* {
  margin: 0;
  padding: 0;
  

  }
  html, body {
    height: 100%
  }

  #mydiv{
    background-color: yellow;
    
    display: block;
    
                    
    padding: 5px;
    width: 100%;
   
   
  }  
  

.mydivClass{
  width: 95%;
  border-radius:10px;
  background-color: yellow;
  padding: 10px;
  margin: 3px;


 
  
}
.mydivClass:hover{
  background-color: limegreen;
  color: white;
  cursor: pointer;
}

#myDivNav{
  width: 100%;
  background-color:black;
  
  display: flex;
  font-size: 17px;
  justify-content: space-between; 
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px;
 
 
}

#midiv2 {
  background-color: black;
text-align: left;

}
#mydivPie{
    width: 100%;
    background-color:yellow;
    padding: 5px;
    text-align: right;
    
}
#myDivNav2{
  justify-content: center;
  align-items: center;
  display: block;
  padding: 10px;
  animation: fadein 2s linear;
  font-size: 17px;
  color: darkslategrey;  
  font-family: Arial, Helvetica, sans-serif;
}
#divImg{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;

  
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 3;
  }
}
#mydivPie{
 
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
#divDatos1{
    
    margin-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    list-style: none;
}
#img1{
  padding-right: 10px;
  padding-bottom: 10px;
}

.divItemDesc {
  padding: 10px;
}

/* Responsive/////////////////////////////////////////////////////////////////////*/
@media (max-width: 990px) {
  * {
    margin: 0;
    padding: 0;
    
  
    }
    #mydiv{
      display: block;
    }


    html, body {
      height: 100%;
    }
       
        #divImg{
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr  ;
          place-items: center;
          
        }
}

@media (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
    
  
    }
    html, body {
      height: 100%;
    }
  #myDivNav {
      display: grid;
        }
       
        #divImg{
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr  ;
          place-items: center;
          
        }
}
@media (max-width: 650px) {
  * {
    margin: 0;
    padding: 0;
    
  
    }
    html, body {
      height: 100%;
    }
  #myDivNav {
      display: grid;
        }
       
        #divImg{
          width: 100%;
          display: grid;
          grid-template-columns: 1fr   ;
          place-items: center;
          
        }
        .imgDesc{
          width: 400;
          height: auto;

        }
        #divDatos1{
          font-size: 15px;
        }
}

